:root {
    --accent-color: #6e1dd1;
    --back-color1: #f7f7f7;
    --header-color: #f7f7f7;
    --header-height: 3rem;
    --shadow-color: #d4d4d4ee;
    --text-color-dark: #1d1d1d;
    --text-color-light: #f7f7f7;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--back-color1);
    color: var(--text-color-dark);
    /* prevents margin collapsing */
    position: absolute;
    width: 100%;
}

#header {
    align-items: center;
    background-color: var(--header-color);
    box-shadow: 0rem .2rem 1rem var(--shadow-color);
    color: var(--accent-color);
    display: flex;
    flex-direction: row;
    height: var(--header-height);
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
}

a:link, a:visited {
    font-size: 1.2rem;
    text-decoration: none;
}

#home-button {
    border: solid .1rem var(--accent-color);
    border-radius: 3rem;
    box-shadow: 0rem .2rem 1rem var(--shadow-color);
    color: var(--accent-color);
    margin: 1rem;
    padding: .5rem;
    transition: .2s;
}

#home-button:hover {
    background-color: var(--accent-color);
    color: var(--text-color-light);
    transition: .2s;
}

#header-links {
    display: flex;
}

.expanded-bar-link {
    color: var(--accent-color);
    display: inline-block;
    padding: 1rem 1rem;
}

.expanded-bar-link:hover {
    background-color: var(--accent-color);
    color: var(--text-color-light);
}

#menu {
    align-items: center;
    display: none;
    margin: 0rem .5rem;
    position: relative;
    width: 3rem;
}

#menu-button {
    cursor: pointer;
    display: block;
    height: 1.5rem;
    margin: auto;
    position: relative;
    width: 2rem;
}

.bar {
    background-color: var(--accent-color);
    border: solid .05rem var(--accent-color);
    display: block;
    height: .3rem;
    transition: .2s;
    width: 2rem;
}

#bar2 {
    margin: .3rem 0rem;
}

/* Rotate first bar */
.change #bar1 {
    -moz-transform: rotate(-45deg) translate(-.4rem, .45rem);
    -ms-transform: rotate(-45deg) translate(-.4rem, .45rem);
    -o-transform: rotate(-45deg) translate(-.4rem, .45rem);
    -webkit-transform: rotate(-45deg) translate(-.4rem, .45rem);
    transform: rotate(-45deg) translate(-.4rem, .45rem);
    transition: .2s;
}

/* Fade second bar */
.change #bar2 {
    opacity: 0;
    transition: .2s;
}

/* Rotate third bar */
.change #bar3 {
    -moz-transform: rotate(45deg) translate(-.4rem, -.45rem);
    -ms-transform: rotate(45deg) translate(-.4rem, -.45rem);
    -o-transform: rotate(45deg) translate(-.4rem, -.45rem);
    -webkit-transform: rotate(45deg) translate(-.4rem, -.45rem);
    transform: rotate(45deg) translate(-.4rem, -.45rem);
    transition: .2s;
}

#menu-links {
    background-color: var(--header-color);
    box-shadow: -.4rem .6rem .8rem -.2rem var(--shadow-color);
    display: none;
    position: fixed;
    right: -.5rem;
    top: var(--header-height);
    min-width: 10rem;
}

#menu-links.show {
    display: block;
}

#menu-links > a {
    color: var(--accent-color);
    display: block;
    padding: .8rem;
}

#menu-links > a:hover, #menu-links >a:active  {
    background-color: var(--accent-color);
    color: var(--text-color-light);
}

body > main {
    background-color: var(--back-color1);
    margin: 3rem auto 0rem auto;
    width: 70%;
}

.content {
    background-color: var(--back-color1);
    padding: 2rem;
}

.anchor {
    display: block;
    position: relative;
    top: -5rem;
    visibility: hidden;
}

main h1 {
    display: block;
    font-size: 2.5rem;
    text-align: center;
    border: solid 2px tomato;
}

main h2 {
    display: block;
    font-size: 2rem;
    text-align: center;
    border: solid 2px tomato;
}

main b {
    color: var(--accent-color);
}

#content1 {
    display: grid;
    grid-template-columns: 55% 10% 35%;
    grid-template-rows: auto auto;
    margin-bottom: 2rem;
    border: solid 2px tomato;
}

#content1 > h1, #content1 > .anchor {
    grid-column: 1 / 4;
    grid-row: 1;
    margin-bottom: 1rem;
}

#content1 > div {
    grid-column: 1;
    grid-row: 2;
    margin: auto;
    border: solid 2px tomato;
}

#content1 > img {
    border: solid .1rem var(--text-color-dark);
    border-radius: 3rem;
    box-shadow: .4rem .4rem .5rem var(--shadow-color);
    grid-column: 3;
    grid-row: 2;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px tomato;
}

#content2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    border: solid 2px tomato;
}

#content2 a, #content2 h2 {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 2rem;
    border: solid 2px tomato;
}

#content2 > #tetrow {
    display: grid;
    grid-column 1;
    grid-row: 2;
    grid-template-columns: auto 10% auto;
    grid-template-rows: auto;
    margin-bottom: 1rem;
    border: solid 2px tomato;
}

#tetrow > img {
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    border: solid 2px tomato;
}

#tetrow > div {
    grid-column: 3;
    grid-row:1;
    margin: auto;
    border: solid 2px tomato;
}

#tetrow > div > h3 {
    background-color: var(--accent-color);
    border-radius: 1rem;
    color: var(--text-color-light);
    padding: 1rem;
    text-align: center;
    border: solid 2px tomato;
}

#tetrow > div > ul {
    padding-left: 1.25rem;
}

#content2 > #adventure-rpg{
    gird-column 1;
    grid-row: 3;
    border: solid 2px tomato;
}

#content2 img {
    border-radius: .5rem;
}

@media screen and (max-width: 1280px) {
    body > main {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    #menu {
        display: inline-block;
    }

    .expanded-bar-link {
        display: none;
    }

    body > main {
        width: 100%;
    }

    #content1 {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    #content1 > h1, #content1 > .anchor {
        grid-column: 1;
        grid-row: 1;
    }

    #content1 > div {
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 1rem;
    }

    #content1 > img {
        grid-column: 1;
        grid-row: 3;
    }

    #content2 > #tetrow {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    #tetrow > img {
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 1rem;
    }

    #tetrow > div {
        grid-column: 1;
        grid-row: 2;
    }
}

